<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.paypal.sdk.phonegap"
      version="0.1.0">
    <name>PayPalMobile</name>
    <description>Sample PhoneGap PayPalMobile Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,PayPalMobile</keywords>
 
 
    <js-module src="www/PayPalMobilePGPlugin.js" name="PayPalMobilePGPlugin">
        <clobbers target="plugins.PayPalMobile" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PayPalMobile">
                <param name="android-package" value="com.paypal.android.sdk.phonegap.PayPalMobilePGPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- for card.io card scanning -->
	    <uses-permission android:name="android.permission.CAMERA" />
	    <uses-permission android:name="android.permission.VIBRATE" />

	    <!-- for most things, including card.io and paypal -->
	    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	    <uses-permission android:name="android.permission.INTERNET" />

	    <!-- Camera features -->
	    <uses-feature android:name="android.hardware.camera" android:required="false" />
	    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.paypal.android.sdk.payments.PayPalService" android:exported="false"/>

            <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
            <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
            <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
            <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />

            <activity
                android:name="io.card.payment.CardIOActivity"
                android:configChanges="keyboardHidden|orientation" />
            <activity android:name="io.card.payment.DataEntryActivity" />
        </config-file>
 
 	<source-file src="src/android/libs/PayPalAndroidSDK.jar" target-dir="libs/" />
 	<source-file src="src/android/libs/armeabi/libcardioDecider.so" target-dir="libs/armeabi/" />
 	<source-file src="src/android/libs/armeabi-v7a/libcardioDecider.so" target-dir="libs/armeabi-v7a/" />
 	<source-file src="src/android/libs/armeabi-v7a/libcardioRecognizer.so" target-dir="libs/armeabi-v7a/" />
 	<source-file src="src/android/libs/armeabi-v7a/libcardioRecognizer_tegra2.so" target-dir="libs/armeabi-v7a/" />
 	<source-file src="src/android/libs/armeabi-v7a/libopencv_core.so" target-dir="libs/armeabi-v7a/" />
 	<source-file src="src/android/libs/armeabi-v7a/libopencv_imgproc.so" target-dir="libs/armeabi-v7a/" />
 	<source-file src="src/android/libs/mips/libcardioDecider.so" target-dir="libs/mips/" />
 	<source-file src="src/android/libs/x86/libcardioDecider.so" target-dir="libs/x86/" />
        <source-file src="src/android/PayPalMobilePGPlugin.java" target-dir="src/com/paypal/android/sdk/phonegap/" />      
     </platform>          
	 
	 <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PayPalMobile">
            	<param name="ios-package" value="PayPalMobilePGPlugin" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/PayPalMobilePGPlugin.h" />
        <source-file src="src/ios/PayPalMobilePGPlugin.m" />
        
        <source-file src="src/ios/PayPalMobile/libPayPalMobile.a" framework="true" target-dir="PayPalMobile/" 
        	compiler-flags="-lc++" compiler-flags="-ObjC"/>
        <header-file src="src/ios/PayPalMobile/PayPalMobile.h" target-dir="PayPalMobile/" />
        <header-file src="src/ios/PayPalMobile/PayPalPayment.h" target-dir="PayPalMobile/" />
        <header-file src="src/ios/PayPalMobile/PayPalPaymentViewController.h" target-dir="PayPalMobile/" />

        <framework src="AVFoundation.framework" weak="true"/>
        <framework src="AudioToolbox.framework" weak="true"/>
        <framework src="CoreMedia.framework" weak="true"/>
        <framework src="CoreVideo.framework" weak="true"/>
        <framework src="libxml2.dylib" weak="true"/>
        <framework src="MessageUI.framework" weak="true"/>
        <framework src="MobileCoreServices.framework" weak="true"/>
        <framework src="OpenGLES.framework" weak="true"/>
        <framework src="QuartzCore.framework" weak="true"/>
        <framework src="Security.framework" weak="true"/>
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="UIKit.framework" weak="true"/>

    </platform>
</plugin>
